.bannerBgr {
    background: url(../../companents/Preview/assets/Banner.jpg);
    width: 100%;
}

.banner {
    max-width: 1220px;
    margin: auto;
    padding: 5% 0;
}

.banner h2 {
    color: #FFF;
    font: 400 30px Poppins;
    text-align: center;
    letter-spacing: 7.2px;
    text-transform: uppercase;
}

.banner h1 {
    color: #FFF;
    font: 800 80px Poppins;
    text-align: center;
    line-height: 101.9%;
    margin-top: 35px;
}

.banner p {
    color: #FFF;
    font: 400 30px Poppins;
    text-align: center;
    margin-top: 50px;
}

.banner .form {
    max-width: 970px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(15px);
    margin: auto;
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 45px;
}

.banner .form input {
    width: 425px;
    padding: 14px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.80);
    outline: none;
    border-width: 0px;
    font: 400 25px Poppins;
}

.banner .form input::placeholder {
    color: #B4B4B4;
    font: 400 25px Poppins;
}

.banner .btn {
    margin: auto;
    color: #0A85FF;
    font: 700 24px Poppins;
    padding: 18px 0;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;
    width: 180px;
    text-align: center;
    margin-top: 45px;
}

@media screen and (max-width: 990px) {

    .banner {
        padding: 5%;
    }

    .banner h1 {
        font-size: 50px
    }

    .banner .form {
        max-width: 90%;
    }

    .banner .form div {
        flex: 1 0 100%;
    }

    .banner .form input {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {

    .banner h1 {
        font-size: 40px
    }

    .banner h2 {
        font-size: 25px
    }

    .banner p {
        font-size: 18px
    }

    .banner .form input {
        font-size: 18px
    }

    .banner .form input::placeholder {
        font-size: 18px
    }
}

@media screen and (max-width: 360px) {

    .banner h1 {
        font-size: 25px
    }

    .banner h2 {
        font-size: 14px
    }


    .banner p {
        font-size: 18px
    }

    .banner .form input {
        font-size: 18px
    }

    .banner .form input::placeholder {
        font-size: 18px
    }

    .banner .btn {
        font-size: 18px
    }
}