.specker {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 5% 0;
    background: #FFF;
    flex-wrap: wrap;
}

.specker .img {
    background-image: url(./assets/Arabey\,\ Alexander\ 1\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 739px;
    height: 1106px;
}

.specker .info {
    width: 568px;
}

.specker .info h1 {
    color: #0A85FF;
    font: 600 45px Poppins;
}

.specker .info h2 {
    color: #B0B0B0;
    font: 300 20px Poppins;
    margin-top: 11px;
}

.specker .info p {
    color: #3E3E3E;
    font: 300 25px Poppins;
    margin-top: 60px;
}

.specker .btn {
    color: #FFF;
    font: 700 24px Poppins;
    padding: 18px 45px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #33D0CE;
    width: 250px;
    height: 71px;
    margin-top: 80px;

}

@media screen and (max-width: 990px) {

    .specker {
        padding: 5%;
    }

    .specker .info {
        text-align: center;
    }

    .specker .info h1 {
        color: black;

    }

    .specker .img {
        width: 30%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
        border-radius: 50%;
        overflow: hidden;
    }

    .specker .btn {
        margin: auto;
        margin-top: 80px;
    }

    .specker h1 {
        font-size: 50px
    }
}

@media screen and (max-width: 560px) {

    .specker .info h1 {
        font-size: 40px
    }

    .specker .info h2 {
        font-size: 25px
    }

    .specker .info p {
        font-size: 18px
    }

}

@media screen and (max-width: 360px) {

    .specker .info h1 {
        font-size: 25px
    }

    .specker .info h2 {
        font-size: 14px
    }


    .specker .info p {
        font-size: 18px
    }

    .specker .btn {
        font-size: 18px
    }
}